# 80s Metal

## segmentation of concerts

Scott Harrison - 2019-04-07

Segments a band´s concerts to see what can de understood from when and where they have played.

### set up

In [157]:
dir_repo = "C:\\Users\\harri\\Dropbox\\01 Scott\\Data Science\\Repositories\\"
data_concert = dir_repo + "\\80s-metal\\segmentation-of-concerts\\data\\motley_crue-concerts.xlsx"

import pandas as pd
from datetime import datetime

### data prep

In [158]:
# read in the data
df = pd.read_excel(data_concert)

# update names
df.columns = [x.strip().lower() for x in df.columns.values.tolist()]

# summarise results
print(df.head())
print(df.describe())
print(df.columns)
print(type(df))

           date                         concert                         venue  \
0  Jan 10, 2019                     Motley crue  Molson Canadian Amphitheatre
1  May 22, 2018                     Motley Crue                           NaN
2  Jan 09, 2017  Alice cooper and motley CrÃ¼e                Rod Laver Arena
3           NaN      Alice Cooper / Motley Crue                           NaN
4  Jan 04, 2017                     Motley Crue                           NaN

                  location
0  Toronto Ontario, Canada
1                      NaN
2                Melbourne
3                      NaN
4                      NaN
                    date        concert           venue     location
count                510            715             476          471
unique               389            330             273          198
top     Jun 12, 2015 â€“  Motley Crue    Donington Park  Houston, TX
freq                   8             64              11           13
Index(['date', 'concert', 'venue', 'location'], dtype='object')
<class 'pandas.core.frame.DataFrame'>

In [159]:
# consolidate rows
df['id'] = df.index
df_new = df[pd.notnull(df['date'])]
df_add = df[pd.isnull(df['date'])][['concert', 'id']]
df_add['id'] = df_add['id'] - 1
df_comb = pd.merge(df_new, df_add, how='left', on='id')
df = df_comb[['date', 'concert_x', 'concert_y', 'venue', 'location']]
df = df.fillna('')
df.head()

,date,concert_x,concert_y,venue,location
0,"Jan 10, 2019",Motley crue,,Molson Canadian Amphitheatre,"Toronto Ontario, Canada"
1,"May 22, 2018",Motley Crue,,,
2,"Jan 09, 2017",Alice cooper and motley CrÃ¼e,Alice Cooper / Motley Crue,Rod Laver Arena,Melbourne
3,"Jan 04, 2017",Motley Crue,,,
4,"Dec 15, 2016 â€“",Motley Crue,,Arena,"Lexington, KY"

In [166]:
# create dates and select valid
df_dates = df.copy()
df_dates['date'] = pd.to_datetime(df_dates['date'].str[0:12], infer_datetime_format=True)
df_dates['year'] = df_dates['date'].dt.year
df_dates['month'] = df_dates['date'].dt.month
df_dates['day'] = df_dates['date'].dt.dayofweek
df_dates['isweekend'] = df_dates['day'] > 4
df_dates = df_dates[df_dates['date'].dt.year <= 2015]
df = df_dates
df.head()

,date,concert_x,concert_y,venue,location,year,month,day,isweekend
7,2015-12-31,Motley Crue,,Staples Center,"Los Angeles, CA",2015,12,3,False
8,2015-12-19,Motley Crue / Alice Cooper,,US Airways Center,"Phoenix, AZ",2015,12,5,True
9,2015-12-15,The Final Tour,Motley Crue / Alice Cooper,Moda Center,"Portland, OR",2015,12,1,False
10,2015-12-15,Motley Crue,,Moda Center,"Portland, OR",2015,12,1,False
11,2015-12-08,Motley Crue / Alice Cooper,,Target Center,"Minneapolis, MN",2015,12,1,False

### data augmentation

In [167]:
# get lat and long from Google

boro_locations = geopandas.tools.geocode('Sydney, Australia', provider="google")

NameError: name 'geopandas' is not defined

### segmentation

### profiling